# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/../meta-debug \
  ##OEROOT##/meta \
  ##OEROOT##/../meta-raspberrypi \
  ##OEROOT##/../meta-scsat1-rpi \
  ##OEROOT##/../meta-mcp2517fd \
  ##OEROOT##/../meta-libcsp \
  ##OEROOT##/../meta-csp \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-arducam \
  ##OEROOT##/../meta-rauc \
  ##OEROOT##/../meta-rauc-community/meta-rauc-raspberrypi \
  ##OEROOT##/../meta-rauc-scsat1 \
  "
